{#
 # This file is part of «Birchbark Literacy from Medieval Rus» database.
 #
 # Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
 #
 # «Birchbark Literacy from Medieval Rus» database is free software:
 # you can redistribute it and/or modify it under the terms of the
 # GNU General Public License as published by the Free Software Foundation, version 3.
 #
 # «Birchbark Literacy from Medieval Rus» database is distributed
 # in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
 # the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code. If you have not received
 # a copy of the GNU General Public License along with
 # «Birchbark Literacy from Medieval Rus» database,
 # see <http://www.gnu.org/licenses/>.
 #}

{% import 'site/content/post.html.twig' as post_helper %}

<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'title'|transWithContext(translationContext) }}{% endblock %} – {{ 'page.label'|trans }}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('css/site/'~assetsContext) }}
        {% endblock %}
    </head>

    <body>
        <div class="mr-header">
            <a class="logo-block image-link image-link-left" href="{{ path('index') }}">
                <img src="/build/images/logo.gif" alt="{{ 'global.birchBarkDocuments'|trans }}" height="224" width="357" border="0">
            </a>
        </div>

        <nav class="mr-navbar navbar navbar-expand flex-row">
            <div class="col-2"></div>
            <div class="col-8">
                {{ form_start(documentsSearchForm) }}
                {{ form_row(documentsSearchForm.number) }}
                <button type="submit" class="btn mr-btn mr-btn-light">{{ 'global.documentsSearch.submit'|trans }}</button>
                {{ form_end(documentsSearchForm) }}
            </div>
        </nav>

        <div class="mr-container container-fluid">
            <div class="row">
                <div class="col-2">
                    {% block left_sidebar_content %}
                        {{ knp_menu_render('main', {'currentClass': 'mr-active'}) }}
                    {% endblock %}
                </div>

                <main role="main" class="col-8 mr-main">
                    {% block page_title %}<h1>{{ block('title') }}</h1>{% endblock %}
                    {% block page_content %}{% endblock %}
                </main>

                <div class="col-2 sidebar mr-sidebar">
                    {% block right_sidebar_content %}{% endblock %}
                </div>
            </div>
        </div>

        <div class="mr-bottom"></div>

        <footer class="mr-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        {{ post_helper.render_post_body(footer, false) }}
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('js/site/'~assetsContext) }}
        {% endblock %}
    </body>
</html>
