{#
 # This file is part of «Birchbark Literacy from Medieval Rus» database.
 #
 # Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
 #
 # «Birchbark Literacy from Medieval Rus» database is free software:
 # you can redistribute it and/or modify it under the terms of the
 # GNU General Public License as published by the Free Software Foundation, version 3.
 #
 # «Birchbark Literacy from Medieval Rus» database is distributed
 # in the hope  that it will be useful, but WITHOUT ANY WARRANTY; without even
 # the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 # See the GNU General Public License for more details.
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code. If you have not received
 # a copy of the GNU General Public License along with
 # «Birchbark Literacy from Medieval Rus» database,
 # see <http://www.gnu.org/licenses/>.
 #}

<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'title'|transWithContext(translationContext) }}{% endblock %} – {{ 'page.label'|trans }}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('css/site/'~assetsContext) }}
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-dark bg-dark flex-nowrap p-0 mr-header">
            <a class="navbar-brand col-12 mr-navbar-brand" href="{{ path('index') }}">{{ 'page.label'|trans }}</a>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mr-middle-line">
                    {{ 'page.middleLine'|trans }}
                </div>
            </div>
            <div class="row">
                <div class="col-2 mr-sidebar">
                    {% block left_sidebar_content %}
                        {{ knp_menu_render('main', {'currentClass': 'mr-active'}) }}
                    {% endblock %}
                </div>

                <main role="main" class="col-8 mr-main">
                    {% block page_title %}<h1 class="border-bottom">{{ block('title') }}</h1>{% endblock %}
                    <div class="container pb-4">
                        {% block page_content %}{% endblock %}
                    </div>
                </main>

                <div class="col-2 sidebar mr-sidebar">
                    {% block right_sidebar_content %}{% endblock %}
                </div>
            </div>
        </div>

        <footer class="mr-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div class="mr-footer-content">
                            {{ 'page.footer'|trans }}
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('js/site/'~assetsContext) }}
        {% endblock %}
    </body>
</html>
