{#
# This file is part of «Birchbark Literacy from Medieval Rus» database.
#
# Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
#
# «Birchbark Literacy from Medieval Rus» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Birchbark Literacy from Medieval Rus» database is distributed
# in the hope  that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Birchbark Literacy from Medieval Rus» database,
# see <http://www.gnu.org/licenses/>.
#}

{%- extends 'site/base.html.twig' -%}

{% block page_title %}<h1 class="mr-hard-title">{{ block('title') }}</h1>{% endblock %}

{%- block page_content -%}

    {% import '@VyfonyFilterableTable/filterable_table.html.twig' as filterable_table %}

    <h4>{{ 'searchByParameters'|transWithContext(translationContext) }}</h4>

    <div class="container mr-filter-container">
        <div class="form-group">
            <label class="control-label required">{{ 'filter.conventionalDate'|transWithContext(translationContext) }}: <span id="conventional-date-label-years"></span></label>
            <div
                    id="conventional-date-range-slider"
                    data-minimal-date="{{ filterForm.children.conventionalDateInitialYear.vars.errors.form.config.data }}"
                    data-maximal-date="{{ filterForm.children.conventionalDateFinalYear.vars.errors.form.config.data }}"
            ></div>
        </div>

        {{ filterable_table.render_filter(filterForm) }}
    </div>

    <div class="row">
        {{ filterable_table.render_table(table) }}
    </div>

    <div class="row">
        {{ filterable_table.render_paginator(table) }}
    </div>

    <div class="row">
        {{ filterable_table.render_checkbox_handlers(table) }}
    </div>
{%- endblock -%}
