{#
# This file is part of «Birchbark Literacy from Medieval Rus» database.
#
# Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
#
# «Birchbark Literacy from Medieval Rus» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Birchbark Literacy from Medieval Rus» database is distributed
# in the hope  that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Birchbark Literacy from Medieval Rus» database,
# see <http://www.gnu.org/licenses/>.
#}

{%- macro book_list_table(elements, nameAsLink, nameTitle, viewTitle, downloadTitle) -%}
    <table class="table table-striped table-sm mr-book-list-table">
        <thead>
        <tr>
            <th>{{ nameTitle }}</th>
            <th>{{ viewTitle }}</th>
            <th>{{ downloadTitle }}</th>
        </tr>
        </thead>
        <tbody>
        {% for element in elements %}
            <tr>
                <th scope="row">
                    {% if nameAsLink %}
                        <a href="{{ path('library__book_show', {'id': element.id}) }}">
                            {{ element.name }}
                        </a>
                    {% else %}
                        {{ element.name }}
                    {% endif %}
                </th>
                <td>
                    {% if element.pdfDocument is not null %}
                        {%- set pathToPdfDocument -%}{%- path element.pdfDocument, 'reference' -%}{%- endset -%}
                        <a href="{{ pathToPdfDocument }}" target="_blank">
                            {{ include('site/book/_pdf_icon.html.twig') }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if element.pdfDocument is not null %}
                        <a href="{{ path('sonata_media_download', {'id': element.pdfDocument|sonata_urlsafeid }) }}">
                            {{ include('site/book/_download_icon.html.twig') }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro -%}