{#
# This file is part of «Birchbark Literacy from Medieval Rus» database.
#
# Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
#
# «Birchbark Literacy from Medieval Rus» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Birchbark Literacy from Medieval Rus» database is distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Birchbark Literacy from Medieval Rus» database,
# see <http://www.gnu.org/licenses/>.
#}

{% extends 'site/base.html.twig' %}

{% block title %}{{ bibliographicRecord.label ?? bibliographicRecord.title }}{% endblock %}

{% block page_content %}

    {% if bibliographicRecord.mainImage is not null %}
        <img title="{{ bibliographicRecord.mainImage.description }}"
             alt="{{ bibliographicRecord.mainImage.fileName }}"
             width="350"
             class="mr-book-show-image"
             src="{{ thumbnailsGenerator.thumbnail(bibliographicRecord.mainImage) }}"
        >
    {% endif %}

    {% if bibliographicRecord.description is not null %}
        <p>
            {{ bibliographicRecord.description|nl2br }}
        </p>
    {% endif %}

    {% if bibliographicRecord.mainFile is not null %}
        <p>
            <a href="{{ thumbnailsGenerator.thumbnail(bibliographicRecord.mainFile, 'document') }}">
                {{ 'download'|transWithContext(translationContext) }}
            </a>
        </p>
    {% endif %}

    {% if bibliographicRecord.structuralComponents|length > 0 %}
        <table class="table table-striped table-sm mr-book-list-table">
            <thead>
                <tr>
                    <th>{{ 'table.column.partName'|transWithContext(translationContext) }}</th>
                    <th>{{ 'table.column.download'|transWithContext(translationContext) }}</th>
                </tr>
            </thead>
            <tbody>
            {% for structuralComponent in bibliographicRecord.structuralComponents|filter(component => component.level == 1)|sort((a, b) => a.id <=> b.id) %}
                <tr>
                    <th scope="row">
                        {{ structuralComponent.name }}
                    </th>
                    <td>
                        {% if structuralComponent.file is not null %}
                            <a href="{{ thumbnailsGenerator.thumbnail(structuralComponent.file, 'document') }}">
                                {{ include('site/_download_icon.html.twig') }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
